<button
  type="button"
  class="btn default"
  (click)="onToggle()"
  *ngIf="!node.isForbidden; else forbiddenNode"
>
  <i
    *ngIf="node.children?.length"
    class="bi"
    [class]="isExpanded ? 'bi-chevron-down' : 'bi-chevron-right'"
  ></i>
  <i class="bi icon-type" [class]="iconResolverHash[node.type]"></i>
  {{ node.title }}
</button>

<ul
  class="list-style-none"
  *ngIf="!node.isForbidden && node.children?.length"
  [class.collapsed]="!isExpanded"
>
  <li
    pecan-ai-treeview-node
    *ngFor="let child of node.children"
    [node]="child"
  ></li>
</ul>

<ng-template #forbiddenNode>
  <p class="forbidden-node">
    <i class="bi icon-type" [class]="iconResolverHash[node.type]"></i>
    {{ node.title }}
  </p>
</ng-template>
