nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3.75rem;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  color: white;
  font-weight: 600;
}

nav img {
  margin: 0 1rem;
}

.spacer {
  flex: 1;
}
